.root {
  right: 0;
  margin: 6px 0 0;
  position: absolute;
}

.link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 21px;
}

.forCompany {
  color: #3d95b6 !important;
}



.link,
.link:active,
.link:visited {
  color: rgba(255, 255, 255, 0.9);
}

.link:hover {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  border-bottom: 1px solid white;
}

.highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
}

.highlight:hover {
  background: rgba(0, 0, 0, 0.3);
}

.spacer {
  color: rgba(255, 255, 255, 0.3);
}

.dropdown {
  display: inline-block;
}
